*{
    font-family: 'Archivo';
}
@media only screen and (min-width: 375px){
    body{
        margin: 0%;
        font-size: 17px;
    }

    .dropDown{
        background-color: rgb(10, 139, 214);
        overflow-y: hidden;
        position: sticky;
        top:0%
    }

    .dropDown #myLinks {
        display: none;
    }
    
    .dropDown a{
        color: white;
        padding: 0.8em 1.5em;
        text-decoration: none;
        display: block;
        margin-right: 18.6em;
    }

    .dropDown p.icon {
        background: black;
        display: block;
        position: relative;
    }
    .dropDown p {
        padding: 0.5em 0.5em;
        color: white;
    }

    #myLinks{
        background-color: rgb(10, 139, 214); 
    }

    .fa-bars{
        font-size: 1.5em;
    }


    .desktopHeader{
        display: none;
    }

    #logo{
        width: 10em;
        float: right;
        padding-right: 1.5em;
        margin-left: 100%;
    }

    .bannerText, .bannerText2{
        display: none;
    }

    #banner1{
        width: 100%;
        height: 8em;
    }

    .dropBtn1, .dropBtn2{
        display: none ;
    }

    .dbc1, .dbc2{
        display: none;
    }

    .navigation p {
        display: none
    }

    .navigation i{
        display: none;
    }

    #proefles{
        margin: 1em;
    }

    #locaties{
        margin: 1em;
    }

    #rijlessen{
        margin: 1em;
    }

    h3{
        color: rgb(75, 72, 72);
        padding-left: 1em;
        padding-bottom: 1em;
        margin-top: 1.5em;
        font-weight: normal;
        border-bottom: thin solid rgba(156, 156, 156, 0.39);
    }

    p{
        margin: 1em;
    }

    button{
        background-color: rgb(37, 186, 255);
        border: none;
        padding: 1em 2em;
        text-align: center;
        width: 18em;
        margin: 1em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
    }
    
    footer{
        display: none;
    }
}


@media only screen and (min-width: 768px){
    *{
        margin: 0%;
        color: rgb(48, 46, 47);
    }

    .desktopHeader{
        background-color: rgb(10, 139, 214);
        overflow: hidden;
        position: relative;
        height: 3em;
        display: block;
        padding-right: 7%;
    }

    .desktopHeader p{
        float: right;
        font-size: 0.8em;
        padding-right: 3em;
        padding-top: 0.5em;
    }

    .extraIcon i{
        float: right;
        padding-top: 1em;
        padding-right: 0.5em;
    }

    .dropDown{
        background-color: rgb(10, 139, 214);
        overflow: hidden;
        position: relative;
        height: 3em;
        display: none;
    }

    .dropDown #myLinks {
        display: none;
    }

    #myLinks{
        background-color: rgb(10, 139, 214);
        display: none;
    }

    .dropDown a{
        color: white;
        padding: 0.8em 1.5em;
        text-decoration: none;
        display: none;
        margin-right: 18.6em;
    }

    .fa-bars{
        font-size: 1.5em;
        display: none;
    }

    .dropDown li.icon {
        background: black;
        display: none;
        position: absolute;
    }
    
    .dropDown li {
        padding: 0.5em 1.5em;
        color: white;
        display: none;
    }

    #logo{
        width: 20em;
        float: left;
        padding-left: 8em;
        margin-left: 0%;
    }

    .navigation{
        overflow: hidden;
        background-color: white;
        position: relative;
        display: inline-block;
    }

    .navigation i {
        font-size: 90%;
        display: inline;
        color: rgba(156, 156, 156, 0.905);
    }

    .navigation p{
        text-decoration: none;
        font-size: 90%;
        font-weight: normal;
        display: inline-block;
        padding-top: 2.4em;
        color: rgba(156, 156, 156, 0.953);
    }

    .navigation button{
        width: 10em;
        background-color: white;
        font-size: 90%;
        font-weight: normal;
        margin: 0em;
        padding: 0%;
        display: inline-block;
        color: rgba(156, 156, 156, 0.953);
    }

    .navigation button>i{
        float: right;
    }

    .bannerText{
        display: block;
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8em;
        font-weight: bold;
    }

    .bannerText button{
        font-weight: normal;
        padding: 0%;
        width: 6em;
        height: 2em;
        font-size: 2em;
        text-align: center;
    }

    .bannerText2{
        position: absolute;
        display: block;
        top: 85%;
        left: 50%;
        transform: translate(-50%);
        font-weight: bold;
    }

    .bannerText2 button{
        font-weight: normal;
        width: 17em;
        height: 1em;
        font-size: 1.2em;
        padding: 0%;
    }

    #banner1{
        width: 100%;
        height: 30em;
        position: relative;
    }

    #proefles{
        margin: 1em;
    }

    h3{
        color: rgb(75, 72, 72);
        padding-left: 1em;
        padding-bottom: 1em;
        margin-top: 1.5em;
        font-weight: normal;
        border-bottom: thin solid rgba(156, 156, 156, 0.39);
    }

    p{
        margin: 1em;
    }

    button{
        background-color: rgb(37, 186, 255);
        border: none;
        padding: 1em 2em;
        text-align: center;
        width: 18em;
        margin: 1em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
    }

    #locaties{
        margin: 1em;
        width: 20em;
        display: inline;
        text-align: left;
    }

    #rijlessen{
        margin: 1em;
        display: inline;
        text-align: left;
        width: 20em;
    } 

    #proefles {
        margin: 1em;
        width: 20em;
        text-align: left;
        display: inline;
    }

    .video{
        width: 70em;
        height: 30em;
        display: block;
        margin: 0 auto;
        background-color: black;
        margin-bottom: 2em;
    }

    .text{
       display: flex;
       width: 100%;
       justify-content: center;
    }

    .text > div{
        flex-direction: row;
    }

    footer{
        width: 2em;
        height: 3em;
        background-color: black;
        position: relative;
        display: inline-block;
    }

    footer i{
        color: white;
        font-size: 2em;
        margin-left: 0.3em;
    }

    .footerText{
        position: absolute;
        background-color: black;
        display: none;
        width: 12em;
        height: 3em;
        color: white;
        text-align: center;
    }

    #footerIcon:hover + .footerText{
        display: inline;
    }
}